<h1>Welcome to Countdown</h1>

<ul>
  <% @letters.each do |letter| %>
  <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <input type="text" name="word" placeholder="Enter your word">
  <input type="submit" value="Play">
</form>
